* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
    gap: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.child {
    background-color: rgb(107, 166, 225);
    height: 50px;
    text-align: center;
    width: calc(50% - 1px);
    line-height: 50px;
}

.item {
    width: calc(100% - 1px);
}

@media screen and (max-width: 480px) {
    .child {
        width: calc(100% - 1px);
    }
}





